<% for (const item of items) { %>
<div class="card-group">
  <div class = "card text-center border-primary">
  <a href="<%- item.path %>">
  <div class="card-body">
  <h3 class="card-title">
  <%= item.title %>
 </h3>
 </div>
 </a>
 </div>
 </div>
<% } %>


