div.title-slide {

  background-color: slategrey;
  color: white;
  text-align: center;
  font-size: 180%;

}

.title-slide h1 {
  
  padding-top: 10%!important;
}


.tess {
  fill: blue;
  stroke: blue;
  stroke-width: 0px;
  opacity: 0;
}

.dot {
    fill: blue;
    stroke-width: 0px;
    opacity: 0;
    fill-opacity: 1;
}

.rects :hover circle {
  fill: red;
  opacity: 1;
}

.rects :hover text {

  opacity: 1;

}

.hidetext {

  font-size: 18px;
  stroke-opacity: 0;
  fill-opacity: 1;
  fill: black;
  opacity: 0;

}
