<% for (const item of items) { %>
<div class="card-group">
  <div class = "card border-primary">
  <div class="card-body">
  <h3 class="card-title">
  <%= item.title %>
 </h3>
 <p class="card-text"><%= item.description %></p>
 <a href="<%- item.path %>" class="card-link">Course website</a>
 </div>
 </div>
 </div>
<% } %>



