/* css styles */
.card {
  margin: 1em;
}

.navbar {
  background-image: none;
  background-color: var(--bs-body-bg); 
}

.nav-item {
  border: 1px solid;
  padding-left: 1em;
  padding-right: 1em;
  margin: 1em;
  border-color: var(--bs-primary);
}

li.nav-item > a {
  color: var(--bs-body) !important;
}

.navbar-brand {
  color: var(--bs-body) !important;
}

.aa-SubmitIcon {
  fill: var(--bs-primary) !important;
}

.navbar .quarto-color-scheme-toggle.alternate .bi::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(55, 90, 127, 1)" class="bi bi-toggle-on" viewBox="0 0 16 16"><path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/></svg>')
}

.navbar .quarto-color-scheme-toggle:not(.alternate) .bi::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(55, 90, 127, 0.7)" class="bi bi-toggle-off" viewBox="0 0 16 16"><path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/></svg>')
}